<div ng-controller="HomeCtrl" class="container-fluid">
  <div class="row">
    <div ng-repeat="tree in trees.trees">
      <div class="col-sm-4">
        <div class="panel">
          <div class="panel-body">
            <h3>{{tree.username}}/{{tree.repo}}</h3>
            <p><a ng-href="{{tree.githubRepoLink}}">View on GitHub</a></p>
            <p>{{tree.description}}</p>
            <a href="#" role="button" class="btn btn-default">View details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
