<div class="container login-container">
  <div class="panel">
    <div class="panel-body">
      <div ng-if="messages.error" role="alert" class="alert alert-danger">
        <div ng-repeat="error in messages.error">{{error.msg}}</div>
      </div>
      <!-- <form ng&#45;submit="login()"> -->
      <!--   <legend>Log In</legend> -->
      <!--   <div class="form&#45;group"> -->
      <!--     <label for="email">Email</label> -->
      <!--     <input type="email" name="email" id="email" placeholder="Email" class="form&#45;control" ng&#45;model="user.email" autofocus> -->
      <!--   </div> -->
      <!--   <div class="form&#45;group"> -->
      <!--     <label for="password">Password</label> -->
      <!--     <input type="password" name="password" id="password" placeholder="Password" class="form&#45;control" ng&#45;model="user.password"> -->
      <!--   </div> -->
      <!--   <div class="form&#45;group"><a href="/forgot"><strong>Forgot your password?</strong></a></div> -->
      <!--   <button type="submit" class="btn btn&#45;success">Log in</button> -->
      <!-- </form> -->
      <!-- <div class="hr&#45;title"><span>or</span></div> -->
      <div class="btn-toolbar text-center">
        <button class="btn btn-github" ng-click="authenticate('github')">Sign in with Github</button>
      </div>
    </div>
  </div>
  <p class="text-center">
    Don't have an account? <a href="/signup"><strong>Sign up</strong></a>
  </p>
</div>
