<div class="container login-container">
  <div class="panel">
    <div class="panel-body">
      <div ng-if="messages.error" role="alert" class="alert alert-danger">
        <div ng-repeat="error in messages.error">{{error.msg}}</div>
      </div>
      <!-- <form ng&#45;submit="signup()"> -->
      <!--   <legend>Create an account</legend> -->
      <!--   <div class="form&#45;group"> -->
      <!--     <label for="name">Name</label> -->
      <!--     <input type="text" name="name" id="name" placeholder="Name" class="form&#45;control" ng&#45;model="user.name" autofocus> -->
      <!--   </div> -->
      <!--   <div class="form&#45;group"> -->
      <!--     <label for="email">Email</label> -->
      <!--     <input type="email" name="email" id="email" placeholder="Email" class="form&#45;control" ng&#45;model="user.email"> -->
      <!--   </div> -->
      <!--   <div class="form&#45;group"> -->
      <!--     <label for="password">Password</label> -->
      <!--     <input type="password" name="password" id="password" placeholder="Password" class="form&#45;control" ng&#45;model="user.password"> -->
      <!--   </div> -->
      <!--   <div class="form&#45;group"> -->
      <!--     <small class="text&#45;muted">By signing up, you agree to the <a href="/">Terms of Service</a>.</small> -->
      <!--   </div> -->
      <!--   <button type="submit" class="btn btn&#45;success">Create an account</button> -->
      <!-- </form> -->
      <div class="hr-title"><span>or</span></div>
      <div class="btn-toolbar text-center">
        <button class="btn btn-github" ng-click="authenticate('github')">Sign in with Github</button>
      </div>
    </div>
  </div>
  <p class="text-center">
    Already have an account? <a href="/login"><strong>Log in</strong></a>
  </p>
</div>
